.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid
   transparent;
  border-right: 20px solid transparent;
}

.shapeTW {
  @apply h-0 w-0;
  @apply border-b-[30px] border-l-[20px] border-r-[20px];
  @apply border-b-black border-l-transparent border-r-transparent;
}